langchain-community
langchain-ollama
langchain-experimental
neo4j
tiktoken
yfiles_jupyter_graphs
json-repair
langchain-openai
langchain_core
python-dotenv
langchain-neo4j
psycopg2
flask
flask-cors
werkzeug
pypdf2
nltk==3.9.1
sentence-transformers==3.2.1
scikit-learn==1.5.2
numpy==1.26.4

